@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  justify-content: center;
  min-height: 100vh;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}


/* Scrollbar toàn bộ */
.scrollbar {
  scrollbar-width: thin;           /* Firefox */
  scrollbar-color: #9ca3af #f3f4f6; /* thumb màu xám, track màu sáng */
}

/* Chrome, Edge, Safari */
.scrollbar::-webkit-scrollbar {
  width: 8px; /* độ dày scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6; /* màu track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* màu thanh kéo */
  border-radius: 4px;        /* bo góc */
  border: 2px solid #f3f4f6; /* khoảng cách với track */
}
